#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.App form{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.App form input{
  width: 200px;
  height: 30px;
  background: skyblue;
  font-size: larger;
}
.App form input::placeholder{
  font-size: large;
  color: rgb(0, 0, 0, 0.7);
  /* align-items: center; */
  padding-inline-start: 20px;
}


.decks li{
  display: flex;
  /* text-decoration: none; */
  height: 120px;
  background: rgb(182, 178, 133);
  border-radius: 10px;
  justify-content: center;
  align-items: center;

  position: relative;
}

.decks li button{
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 8px;
  background-color: transparent;
}
/* .decks li button:hover */

.decks li:hover{
  background: rgb(132, 130, 105);
  cursor: pointer;
}

.decks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 600px;
  margin: 0 auto;
}


